.DS_Store
/.build
/Packages
/App/Info.plist
/Obviewer.xcodeproj
/build
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.tmp-home/
